html { height: 100% }
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}
input, button {
	font-family: RobotoDraft, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1em;
}
#map{
	position: absolute;
	top: 0;
	left: 460px;
	right: 0;
	bottom: 0;
	height: 100%;
	min-width: 300px;
}
#sidebar{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 460px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	display: flex;
	flex-direction: column;
}
header{
	cursor: default;
	padding: 12px 15px;
	color: #fff;
	background-color: #8B37FF;
}
header h1{
	font-size: 1.4em;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
#directions-form{
	padding: 15px;
	word-spacing: 10px;
	border-bottom: 1px solid #ddd;
}
#directions-form .field-section{
	display: inline-block;
	width: 198px;
	position: relative;
}
#directions-form label{
	display: block;
	font-size: 1em;
	color: #aaa;
}
#directions-form input{
	border: 0;
	padding: 10px 0;
	border-bottom: 2px solid #e0e0e0;
	margin: 0 0 5px;
	width: 198px;
	box-sizing: border-box;
	outline: 0;
	-webkit-transition: border-bottom-color .3s;
	-moz-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
}
#directions-form input:focus{
	border-bottom-color: #8B37FF;
}
#directions-form .form-footer{
	text-align: right;
	margin-top: 10px;
}
#directions-form button{
	border: 0;
	padding: 7px 10px;
	margin: 0;
	background-color: #8B37FF;
	color: #fff;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: 0 2px 3px #aaa;
}
#directions-form button:active{
	opacity: .7;
}
